opencv-python==5.0.0.93
pyserial==3.5
Pillow==12.3.0
pygubu==0.42.1
requests==2.34.2
pandas==3.0.5
numpy==2.5.3
scipy==1.18.1
paho-mqtt==2.1.0
GitPython==3.1.62
plyer==2.1.0
PyAudio==0.2.14
pygame==2.6.1
pynput==1.8.1
mcp==2.2.0
